@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", sans-serif;
}

.card-image-container {
  position: relative;
  cursor: pointer;
}

.card-image-container::before,
.card-image-container::after {
  transition: all 0.3s ease-in-out;
}

.card-image-container:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(178, 100%, 50%);
  z-index: 1;
  opacity: 0.4;
  border-radius: 10px;
}

.card-image-container:hover::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-image: url("/images/icon-view.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 2;
}
